{% extends 'base.html' %}
{% block content %}
<br> 
<br>
<br>
<div class="mt-10"> 
    <div style="display: flex;">
        <div style="width: 20%;">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-content p-2">
                    <img src="http://lorempixel.com/1000/600/" style="width: 100%">
                </div>
                <input type="file" data-role="file" data-prepend="Change Picture">    
            </div>
        </div>
        <div style="width: 60%;">
            <table class="table bg-white">
                <thead>
                <tr>
                    <th colspan="2" style="text-align: center;">Edit Ship form</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p><b>Ship name</b></p>
                        <input type="text" data-role="input" class="" placeholder="Enter ship name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Speed</b></p>
                        <input type="text" data-role="input" class="" placeholder="Enter middle name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Address of Destination</b></p>
                        <input type="text" data-role="input" class="" placeholder="Enter address of destination">
                    </td>
                </tr>
                    <td>
                        <button class="button primary">Submit</button>
                        <button class="button warning">Cancel</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

 {% endblock content %}