{% extends 'base.html' %}
{% block content %} 
<div class="p-5 mt-20">
    <h1>List of Crews</h1>
    <table class="table striped table-border mt-4 bg-steel"
    data-role="table"
    data-rows-steps="5, 10"
    data-rows="5">
        <thead>
            <tr class="bg-grayWhite fg-white">
                <th class="fg-white">Name</th>
                <th class="fg-white">Photo</th>
                <th class="fg-white">Age</th>
                <th class="fg-white" >Address</th>
                <th class="fg-white">Birth Date</th>
                <th class="fg-white">Rank</th>
                <th class="fg-white">Tools</th>
            </tr>
            </thead>
            <tbody>
                {% for crew in ship_crews%}
                <tr>
                    <td>{{crew.first_name}} {{crew.middle_name}} {{crew.last_name}}</td>
                    <td><img src="{{crew.crew_img_url}}" alt="" width="80" ></td>
                    <td>{{crew.age}}</td>
                    <td>{{crew.gender}}</td>
                    <td>{{crew.birthdate}}</td>
                    <td>{{crew.rank}}</td>
                    <td><button class="button primary mif-eye icon" data-role="popover" data-popover-text="View"
                        data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#exampleModal"></button></button></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crew Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="display: flex;">
            <div style="width: 50%;">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-content p-2">
                        <img src="http://lorempixel.com/1000/600/" style="width: 100%">
                    </div>
                    <table class="table striped" style="text-align: center;">
                        <tbody>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>Bill</td>
                            </tr>
                            <tr>
                                <td><strong>Rank</strong></td>
                                <td>Bill</td>
                            </tr>
                            </tbody>
                    </table>    
                </div>
            </div>
             <div style="width: 50%;">
                <table class="table striped" style="text-align: center;">
                    <thead>
                        <tr class="bg-grayWhite">
                            <td colspan="2">Contact Details</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Age</strong></td>
                            <td>Bill</td>
                        </tr>
                        <tr>
                            <td><strong>Gender</strong></td>
                            <td>Bill</td>
                        </tr>
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>Bill</td>
                        </tr>
                        <tr>
                            <td><strong>Birth Date</strong></td>
                            <td>Bill</td>
                        </tr>
                        <tr>
                            <td><strong>Contract</strong></td>
                            <td>Bill</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crew Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="display: flex;">
            <div style="width: 20%;">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-content p-2">
                        <img src="http://lorempixel.com/1000/600/" style="width: 100%">
                    </div>
                    <input type="file" data-role="file" data-prepend="Change Picture">    
                </div>
            </div>
            <div style="width: 60%;">
                <table class="table bg-white">
                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center;">Edit Crew Form</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p><b>First Name</b></p>
                            <input type="text" data-role="input" class="" placeholder="Enter first name">
                        </td>
                        <td>
                            <p><b>Gender</b></p>
                            <input type="email" data-role="input" class="" placeholder="Enter gender">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Midle Name</b></p>
                            <input type="text" data-role="input" class="" placeholder="Enter middle name">
                        </td>
                        <td>
                            <p><b>Age</b></p>
                            <input type="text" data-role="input" class="" placeholder="Enter age">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Last Name</b></p>
                            <input type="text" data-role="input" class="" placeholder="Enter last name">
                        </td>
                        <td>
                            <p><b>Birthd Date</b></p>
                            <input type="text" data-role="input" class="" placeholder="Enter birthdate">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Rank</b></p>
                            <select data-role="select">
                                <option value="master">Master/Captain</option>
                                <option value="chief_mate">Chief Mate</option>
                                <option value="second_mate">Second Mate</option>
                                <option value="third_mate">Third Mate</option>
                                <option value="deck_cadet">Deck Cadet</option>
                                <option value="chief_engineer">Chief Engineer</option>
                                <option value="second_engineer">Second Engineer</option>
                                <option value="third_engineer">Third Engineer</option>
                                <option value="fourth_engineer">Fourth Engineer</option>
                                <option value="engine_cadet">Engine Cadet</option>
                                <option value="electrician">Electrician</option>
                                <option value="boatswain">Boatswain</option>
                                <option value="pump_man">Pump Man</option>
                                <option value="able_bodied_seaman">Able-Bodied Seaman</option>
                                <option value="ordinary_seaman">Ordinary Seaman</option>
                                <option value="fitter">Fitter</option>
                                <option value="oiler">Oiler</option>
                                <option value="wiper">Wiper</option>
                                <option value="chief_cook">Chief Cook</option>
                                <option value="steward">Steward</option>
                            </select>
                        </td>   
                        <td>
                            <p><b>Contract</b></p>
                            <input type="text" data-role="input" class="" placeholder="Enter contract" id="contract">
                        </td> 
                    <tr>
                        <td>
                            <button class="button primary">Submit</button>
                            <button class="button warning">Cancel</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}