{% extends 'base.html' %}
{% block content %} 
<div class="p-5 mt-20">
    <h1>List of Ships</h1>
    <table class="table striped table-border mt-4 bg-steel"
    data-role="table"
    data-rows-steps="5, 10"
    data-rows="5">
        <thead>
            
            <tr class="bg-grayWhite fg-white">
                <th class="fg-white">Ship Name</th>
                <th class="fg-white">Photo</th>
                <th class="fg-white">Ship Speed</th>
                <th class="fg-white">Address of Destination</th>
                <th class="fg-white">Tools</th>
            </tr>
            </thead>
            <tbody>
                {% for ship in ships%}
                <tr>
                    <td>{{ship.shipName}}</td>
                    <td><img src="{{ship.ship_img_url}}" alt=""></td>
                    <td>{{ship.ship_speed}}</td>
                    <td>{{ship.ship_destination}}</td>
                    <td><button class="button primary mif-eye icon" data-role="popover" data-popover-text="View"
                        data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#exampleModal"></button></button></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crew Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="display: flex;">
            <div style="width: 50%;">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-content p-2">
                        <img src="http://lorempixel.com/1000/600/" style="width: 100%">
                    </div>  
                </div>
            </div>
             <div style="width: 50%;">
                <table class="table striped" style="text-align: center;">
                    <thead>
                        <tr class="bg-grayWhite">
                            <td colspan="2">Contact Details</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Ship Name</strong></td>
                            <td>Bill</td>
                        </tr>
                        <tr>
                            <td><strong>Ship Speed</strong></td>
                            <td>Bill</td>
                        </tr>
                        <tr>
                            <td><strong>Address of destination</strong></td>
                            <td>Bill</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}