{% extends 'base.html' %}
{% block content %} 
<div class="p-5 mt-20">
    <table class="table striped table-border mt-4"
    data-role="table"
    data-rows-steps="5, 10"
    data-rows="5">
        <thead>
            <tr class="bg-grayWhite">
                <th>Name</th>
                <th>Photo</th>
                <th>Age</th>
                <th>Address</th>
                <th>Birth Date</th>
                <th>Rank</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Active</td>
                    <td><img src="../static/images/idea.png" alt=""></td>
                    <td>Divina Santos</td>
                    <td>Female</td>
                    <td>4</td>
                    <td>Campupot</td>
                </tr>
            </tbody>
    </table>
</div>

{% endblock content %}