{% extends 'base.html' %}
{% block content %} 
<div class="p-5 mt-20">
    <button class="button primary" style="float: right;"  onclick="toAddCrew()"><icon class="mif-add icon mr-3"></icon>Add crew</button>
    <br>
    <br>
    <table class="table striped table-border mt-4 bg-steel"
    data-role="table"
    data-rows-steps="5, 10"
    data-rows="5">
        <thead>
            <tr class="bg-grayWhite">
                <th class="fg-white">Name</th>
                <th class="fg-white">Photo</th>
                <th class="fg-white">Age</th>
                <th class="fg-white">Address</th>
                <th class="fg-white">Birth Date</th>
                <th class="fg-white">Rank</th>
                <th class="fg-white">Tools</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Active</td>
                    <td><img src="../static/images/idea.png" alt=""></td>
                    <td>Divina Santos</td>
                    <td>Female</td>
                    <td>4</td>
                    <td>Campupot</td>
                    <td>
                        <button class="button success mif-pencil icon" data-role="popover" data-popover-text="Edit"
                        data-popover-position="top" data-popover-hide="1000" onclick="toEditCrew()"></button>
                        <button class="button secondary mif-bin "  data-role="popover" data-popover-text="Delete"
                        data-popover-position="top" data-popover-hide="1000"></button>
                    </td>
                </tr>
            </tbody>
    </table>
</div>
{% endblock content %}