{% extends 'base.html' %}
{% block content %} 

<div class="p-5 mt-20">
    <h1>Manage Crews</h1>
    <button class="button primary" style="float: right;"  onclick="toAddCrew()"><icon class="mif-add icon mr-3"></icon>Add Crew</button>
    <br>
    <br>
    <table class="table striped table-border mt-4 bg-steel"
    data-role="table"
    data-rows-steps="5, 10"
    data-rows="5">
        <thead>
            <tr class="bg-grayWhite">
                <th class="fg-white">Name</th>
                <th class="fg-white">Photo</th>
                <th class="fg-white">Age</th>
                <th class="fg-white">Address</th>
                <th class="fg-white">Birth Date</th>
                <th class="fg-white">Rank</th>
                <th class="fg-white">Tools</th>
            </tr>
            </thead>
            <tbody>
                {% for crew in ship_crews%}
                <tr>
                    
                    <td>{{crew.first_name}} {{crew.middle_name}} {{crew.last_name}}</td>
                    <td><img src="{{crew.crew_img_url}}" alt="" width="80"></td>
                    <td>{{crew.age}}</td>
                    <td>{{crew.gender}}</td>
                    <td>{{crew.birthdate}}</td>
                    <td>{{crew.rank}}</td>
                    <td>
                        <button class="button success mif-pencil icon" data-role="popover" data-popover-text="Edit"
                        data-popover-position="top" data-popover-hide="1000" onclick="toEditCrew('{{crew.crew_id}}')"></button>
                        <button class="button secondary mif-bin "  data-role="popover" data-popover-text="Delete"
                        data-popover-position="top" data-popover-hide="1000"></button>
                    </td>
                </tr>
                {% endfor %}
                {% csrf_token %}
            </tbody>
    </table>
</div>
{% endblock content %}